
.banner-about{
    position: relative;
    width: 106%;
    height: 100%;
    left: -6%;
    z-index: 1;
    top: 60px;
    border-radius: 8px;
  }
  
  .group-padding{
    padding: 20px;
  }
  
  .border-card{
    border: 1px solid rgba(66, 100, 113, 0.504);
    border-radius: 4px;
  }
  
  .list-users{
    padding: 20px;
   }.card-profile{
    margin: 10px;
    position: relative;
    width: 30%;
    height: 260px;
    border: 1px solid rgba(121, 182, 178, 0.178);
    border-radius: 6px;
    left: 1.5%;
   }#img-backgroup{
    position: absolute;
    width: 100%;
    height: 100px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
   }#img-pro{
    position: absolute;
    width: 30%;
    height: 28%;
    left: 35%;
    top: 30%;
    transform: translate(50% 50%);
    border-radius: 100%;
    border: 5px solid white;
   }
   .card-profile:hover{
    border: 1px solid rgba(50, 125, 132, 0.402);
   }
  
  .edit-profile{
    position: absolute;
    bottom: 0%;
    width: 100%;
    border-top: 1px solid rgba(74, 93, 93, 0.265);
   }.padding-edit{
    padding: 5px;
   }.grid-text{
    margin-left: 5.5%;
    /* border-right: 1px solid rgba(74, 93, 93, 0.265); */
   }
  
  .offline{
    border: 1px solid salmon;
  }
  /* .online{
    border: 1px solid paleturquoise;
  } */
  .offline-div{
    position: absolute;
    width: 100%;
    height: 660%;
    bottom: 100%;
    left: 0%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: rgba(49, 88, 93, 0.432);
    text-align: center;
    z-index: 2;
  }#label-offline{
    margin-top: 34%;
    background-color: rgba(255, 0, 0, 0.417);
    color: aliceblue;
    border-radius: 6px;
    padding: 10px;
    font-size: 24px;
  }
  
  .about-profile{
    position: absolute;
    z-index: 2;
    top: 58%;
    width: 100%;
    font-size: 14px;
    text-align: center;
  }
  
  
  .group-btn{
    position: absolute;
    right: 2.5%;
    top: 22%;
  }


  /* Chart  */
#label-chart{
    position: absolute;
    top: 0%;
    text-align: center;
    font-size: 24px;
    width: 100%;
}
#label-chart-two{
  top: 0%;
  text-align: center;
  font-size: 24px;
  width: 100%;
}
#label-chart-one{
    position: absolute;
    top: 5%;
    text-align: start;
    font-size: 24px;
    width: 20%;
    height: 20px;
    background-color: rgb(255, 255, 255);
}
.column-one{
    position: relative;
    margin-left: 15px;
    width: 48%;
 }.card-column{
  position: relative;
  width: 95%;
  height: 50px;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
 }

.money{
  border: 1px solid salmon;
  background-color: rgba(250, 128, 114, 0.233);
}
.alr{
  border: 1px solid rgba(0, 128, 0, 0.486);
  background-color: rgba(114, 250, 114, 0.233);
}
.all-alr{
  border: 1px solid rgba(0, 13, 128, 0.486);
  background-color: rgba(114, 128, 250, 0.233);
}